tap_tsi_b.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.era.europa.eu/schemes/TAPTSI/1.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:doc="http://www.era.europa.eu/schemes/Documentation" xmlns:taf="http://www.era.europa.eu/schemes/TAFTSI/5.3" xmlns:dc="http://purl.org/dc/elements/1.1/" targetNamespace="http://www.era.europa.eu/schemes/TAPTSI/1.4" elementFormDefault="unqualified" version="1.4">
	<xs:annotation>
		<xs:appinfo>
			<dcterms:title>TAP TSI - International Rail Ticket for Home Printing.</dcterms:title>
			<dcterms:description>This schema defines the International Rail Ticket for Home Printing.</dcterms:description>
			<dcterms:creator>TAP TSI Editor Stefan Jugelt, European Railway Agency. mailto:stefan.jugelt@era.europa.eu</dcterms:creator>
			<dcterms:coverage>European Union</dcterms:coverage>
			<dcterms:created>2011-05-05</dcterms:created>
			<dcterms:changed>2012-03-08</dcterms:changed>
			<dcterms:changed>2013-07-03</dcterms:changed>
			<dcterms:changed>2020-05-27</dcterms:changed>
			<dcterms:references>ERA/TD/2009-10/INT</dcterms:references>
			<dcterms:type>text/xml</dcterms:type>
			<dcterms:subject>Transport, Public Transport, Rail</dcterms:subject>
			<dcterms:identifier>{http://www.era.europa.eu/schemes/TAPTSI}TAP_TSI_B.7.xsd</dcterms:identifier>
			<dcterms:language>en</dcterms:language>
			<dcterms:publisher>ERA European Railway Agency, 120 rue Marc Lefrancq, 59307 Valenciennes Cedex, http://www.era.europa.eu/</dcterms:publisher>
			<dcterms:rights>Unclassified</dcterms:rights>
			<dcterms:rightsHolder>European Railway Agency</dcterms:rightsHolder>
			<dcterms:copyright>ERA 2020</dcterms:copyright>
			<dcterms:source>Derived from the UIC leaflet 918-3</dcterms:source>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="MessageHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHeaderType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identification of the type of the message being interchanged.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="UPR"/>
							<xs:enumeration value="UPD"/>
							<xs:enumeration value="INR"/>
							<xs:enumeration value="IND"/>
							<xs:enumeration value="ACK"/>
							<xs:enumeration value="ORI"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Version" type="xs:decimal">
					<xs:annotation>
						<xs:documentation xml:lang="en">Version number of a message type.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="From" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the Party that orginated the message. Restricted to 4N for ENEE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="To" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the Party that is the intended recipient of the message. Restricted to 4N for ENEE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MessageId" type="xs:nonNegativeInteger">
					<xs:annotation>
						<xs:documentation xml:lang="en">Unique identifier for the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Timestamp" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation xml:lang="en">Value representing the time that the message header was created conforming to a dateTime [CCYY-MM-DDTHH:MM:SS] and MUST be expressed as UTC. Indicating UTC in the Timestamp element by including the 'Z' identifier is optional. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RefToMessageId" type="xs:nonNegativeInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">When present, it MUST contain the MessageId value of an earlier message to which this message relates. If there is no ealier related message, the element MUST NOT be present.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FreeText">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SequenceNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Supplement" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in the HomeTicketing XML message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PassengerType" type="type5261CodeList">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in the HomeTicketing XML message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CancellationInformation">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in the HomeTicketing XML message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CertificateRequestID" type="TCO_ReferenceType"/>
				<xs:element name="TCOTransactionID" type="TCO_ReferenceType"/>
				<xs:element name="CancellationReasonCode" type="CancellationReasonCodeList">
					<xs:annotation>
						<xs:documentation xml:lang="en">Code list for the reason code introduced. (Stefan Jugelt, ERA)</xs:documentation>
						<xs:documentation doc:docType="Remark">The item TCOXXXX must defined outside the code list!</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CancellationAcknowledgement">
		<xs:annotation>
			<xs:documentation xml:lang="en">Cancellation acknowledgement (CA)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageHeader"/>
				<xs:element name="CancellationReferenceID" type="RailwayUndertaking_ReferenceType"/>
				<xs:element name="AckError">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CancellationMessage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Cancellation message (CM)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageHeader"/>
				<xs:element name="ReferenceID_Cancellation" type="RailwayUndertaking_ReferenceType"/>
				<xs:element name="RecordNumber">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="CancellationInformation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CertificateRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">Certificate request (CR)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageHeader"/>
				<xs:element name="Distributor_Reference" type="RailwayUndertaking_ReferenceType"/>
				<xs:element name="TicketHolder" type="Person"/>
				<xs:element name="TicketCharacteristics" type="Ticket"/>
				<xs:element name="CertificateRequest_Details" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Passenger_Fields">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="SequenceNumber"/>
										<xs:element ref="PassengerType"/>
										<xs:element name="TariffReduction" type="TariffTypeDetails"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OpenTicketsFields" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="SequenceNumber"/>
										<xs:element name="Segment" type="Segment" maxOccurs="unbounded"/>
										<xs:element ref="Supplement"/>
										<xs:element name="TariffCode" type="TariffTypeIdentification" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="TariffReduction" type="TariffTypeDetails" minOccurs="0"/>
										<xs:element name="Date" type="Period"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReservationFields" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="SequenceNumber"/>
										<xs:element name="FormerReference" type="Reference" minOccurs="0"/>
										<xs:element name="PassengerTripInformation" type="PassengerTripInformation"/>
										<xs:element name="Segment" type="Segment" maxOccurs="unbounded"/>
										<xs:element ref="Supplement"/>
										<xs:element name="TariffCode" type="TariffTypeIdentification" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">According to TAP TSI technical document B.5 element 42</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TariffReduction" type="TariffTypeDetails" minOccurs="0"/>
										<xs:element name="Date" type="Period"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CertificateTransfer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Certificate transfer (CT)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageHeader"/>
				<xs:element name="Distributor_Reference" type="RailwayUndertaking_ReferenceType">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Reference number of the certificate request.  This is concatenated with the identification of the distributor(same number as in the CR message).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TCO_Transaction" type="TCO_ReferenceType"/>
				<xs:element name="TripInformation" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="SequenceNumber"/>
							<xs:element name="Segment" type="Segment"/>
							<xs:element name="TCOCode" type="ReferenceNumber"/>
							<xs:element name="ClientIdentification" type="Person"/>
							<xs:element name="CertificatePresentationCode" type="CertificatePresentationCodeList"/>
							<xs:element name="Certificate">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="200"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:sequence>
					<xs:element name="Error" type="ErrorCode_HomePrintingCodeList"/>
					<xs:element ref="FreeText" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MainRecordDataType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data type U_HEAD</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecordID" type="RecordIdType" default="U_HEAD">
				<xs:annotation>
					<xs:documentation xml:lang="en">ID is "U_HEAD" ("header")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordVersion" type="RecordVersionType" default="01">
				<xs:annotation>
					<xs:documentation xml:lang="en">"01"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordLength" type="RecordLengthType"/>
			<xs:element name="CompanyCodeOfDistributor" type="CompanyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Distributor, producing the tickets</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnambiguousKeyOfTickets" type="KeyOfTicketsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">The producer can complete this key freely; a specific key can only be used for one ticket. In combination with the Company code this key provides a global unique key for each ticket within the EU.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EditionTime" type="EditionTimeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Format "DDMMYYYYHHMM"
This can be used to prevent fraud by buying a ticket after journey departure (only shortly before the conductor shows up)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flags">
				<xs:annotation>
					<xs:documentation xml:lang="en">- International ticket: 1
- Edited by agent: 2
- Specimen: 4
The field is the decimal representation of the sum according to the flags set. E.g.: "6" means national ticket, edited by agent, specimen</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EditionLanguageOfTicket" type="LanguageType">
				<xs:annotation>
					<xs:documentation xml:lang="en">ISO 639 - 1 (see Bibliography - page 78) country code definitions and abbreviations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EditionLanguageCodeOfCarriage" type="LanguageType">
				<xs:annotation>
					<xs:documentation xml:lang="en">ISO 639 - 1 country code. If no second language is used, this field is filled with blanks</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TicketLayout">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data type U_TLAY</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecordID" type="RecordIdType" default="U_TLAY">
				<xs:annotation>
					<xs:documentation xml:lang="en">ID is "U_TLAY"("Ticket layout")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordVersion" type="RecordVersionType" default="01">
				<xs:annotation>
					<xs:documentation xml:lang="en">"01"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordLength" type="RecordLengthType"/>
			<xs:element name="LayoutStandard">
				<xs:annotation>
					<xs:documentation xml:lang="en">For example "RCT2"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NumberOfFields" type="NumberOfFieldsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of following fields</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en" doc:docType="Remark">There should be a maximum number of entries</xs:documentation>
				</xs:annotation>
				<xs:element name="FieldLine" type="FieldLineType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Line index of the first letter. Range: 0 till 14</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FieldColumn" type="FieldColumnType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Column index of the first letter. Range: 0 till 71</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FieldHeight" type="FieldHeightType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Number of lines reserved from the field</xs:documentation>
						<xs:documentation doc:docTpe="Remark">The boundaries for this type shall be defined</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FieldWidth" type="FieldWidthType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Number of columns reserved from the field</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FieldFormatting" type="FieldFormattingTypeCodeList">
					<xs:annotation>
						<xs:documentation xml:lang="en">See code list B.7.6</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FieldTextLength" type="FieldLengthType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Length of the following text. Caution: the length must be determined using the already encoded text</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FieldText" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">If "Field height" is bigger than 1, the text must be wrapped using the following rules:
-	The first word that doesn't fit in the current field line, is printed at the beginning of the following line
-	If the field text contains the sign LF (ASCII "10"), the next word must be wrapped to the next line
The producer of the record must guarantee that the entire text, when applying these rules, fits within the indicated field sizes (height and width), can be entirely displayed
</xs:documentation>
						<xs:documentation xml:lang="en" doc:docType="Remark">There should be a length restriction for this field !</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DSTMessageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">DST message structure</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueMessageId">
				<xs:annotation>
					<xs:documentation xml:lang="en">"#UT" for TAP TSI Ticket</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageTypeVersion" type="RecordVersionType">
				<xs:annotation>
					<xs:documentation xml:lang="en">"01" (Version of this Technical Document)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SigningRailwayUndertaking" type="CompanyCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Allows the identification of the public key necessary for the verification in combination with the following element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureKeyID" type="SignatureIDType">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ID must be managed by the RU issuing the signature key</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Signature" type="SignatureType">
				<xs:annotation>
					<xs:documentation xml:lang="en">DSA signature for the message after compression (next element) in ASN.1 representation (see list of abbreviations). If the actual ASN.1 representation is shorter than 50 bytes, it should be enlarged to the length of 50 by adding null bytes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LengthOfCompressedMessage" type="MessageLengthType"/>
			<xs:element name="CompressedMessage" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">The entire record sequence compressed with DEFLATE</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark">Boundaries are not defined</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><!--                   +++++++++++                            --><!--                   type defintions                             --><!--                   +++++++++++                            --><!--                   attribute                                    --><!--                   simple types                             --><xs:simpleType name="CancellationReasonCodeList">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code list for the cancellation (B.7.3)</xs:documentation>
			<xs:appinfo>
				<dc:title>Code list for the cancellation</dc:title>
				<dc:source>B.7.3</dc:source>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="7"/>
			<xs:enumeration value="TO">
				<xs:annotation>
					<xs:documentation xml:lang="en">Time out</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NA">
				<xs:annotation>
					<xs:documentation xml:lang="en">No answer from TCO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NAOXXXX">
				<xs:annotation>
					<xs:documentation xml:lang="en">No Answer from Other TCO, XXXX = Company code of TCO</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark">XXXX = Company code of TCO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAC">
				<xs:annotation>
					<xs:documentation xml:lang="en">Annulation of ticket by client</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAD">
				<xs:annotation>
					<xs:documentation xml:lang="en">Annulation of ticket by distributor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Procedure interrupted</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CertificatePresentationCodeList">
		<xs:annotation>
			<xs:documentation xml:lang="en">code list for the presentation type of the certificate (B.7.2)</xs:documentation>
			<xs:appinfo>
				<dc:title>Code list for the layout of the certificate</dc:title>
				<dc:source>B.7.2</dc:source>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:enumeration value="TEXT">
				<xs:annotation>
					<xs:documentation xml:lang="en">ASCII-code</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3OF9">
				<xs:annotation>
					<xs:documentation xml:lang="en">3 of 9 barcode</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AZTXYZ">
				<xs:annotation>
					<xs:documentation xml:lang="en">2D-barcode type AZTEC XYZ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHIP">
				<xs:annotation>
					<xs:documentation xml:lang="en">Chipcard</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CharacteristicDescriptionCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">Based on UIC Leaflet 920-16, Tag 7037 for describing the Class of Service.  </xs:documentation>
			<xs:documentation doc:docType="Remark"> What is the differnce to the type7037CodeList?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="en">First Class</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="en">Second Class</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CompanyCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the RU, IM or other company involved in the Rail Transport Chain  (i.e. 1088 for passenger SNCB). The code list is published by UIC.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EditionTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the edition time Format "DDMMYYYYHHMM"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4}([01][0-9]|2[0-3])(0[0-9]|[12345][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorCode_HomePrintingCodeList">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code list for error codes for home printed ticket (B.7.5)</xs:documentation>
			<xs:documentation xml:lang="en">Used in the CT message to indicate the error or acceptance of the certificate request</xs:documentation>
			<xs:appinfo>
				<dc:title>Code list for error codes for home printed ticket</dc:title>
				<dc:source>B.7.5</dc:source>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Train not possible</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Client blacklisted</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">System down</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">Insufficient parameters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Incompatible parameters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldColumnType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the columns position of the text</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="71"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldFormattingTypeCodeList">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code list for field formatting (B.7.6)</xs:documentation>
			<xs:appinfo>
				<dc:title>Code list for field formatting</dc:title>
				<dc:source>B.7.6</dc:source>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">normal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">bold</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">italic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">bold &amp; italic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">small font (the "132-font" in RCT-2)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">small + bold</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="en">small + italic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation xml:lang="en"> small + bold + italic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldHeightType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the height of a text field</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldLengthType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the length of a text  field</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldLineType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the line posiition of the text</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldWidthType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the width of a text field</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KeyOfTicketsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for a key for home-printed tickets</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Language 2 digit ISO 639-1 code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="de"/>
			<xs:enumeration value="en"/>
			<xs:enumeration value="fr"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationIdentificationName">
		<xs:annotation>
			<xs:documentation doc:docType="Remark"> What ist the (real) difference to LocationIdentifier?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationIdentifier">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageLengthType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the length of a message</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfFieldsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of fields in a dataset</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartyName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PassengerCoachNumber">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used in the HomeTicketing XML message</xs:documentation>
			<xs:documentation doc:docType="Remark"> Why no restriction to the coach number exists?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PassengerIdentificationNumberID_TypeCodeList">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code list for the passenger identification (B.7.1)</xs:documentation>
			<xs:appinfo>
				<dc:title>Code list for a passenger identification</dc:title>
				<dc:source>B.7.1</dc:source>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:ID">
			<xs:enumeration value="VISA">
				<xs:annotation>
					<xs:documentation xml:lang="en">VISA</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark">only some digits are shown, rest: x (to avoid fraud) - e.g. If the card number is: 4589 3453 2342 1232	there appears only xxxx xxxx xxxx 1232</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAST">
				<xs:annotation>
					<xs:documentation xml:lang="en">Mastercard</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark">only some digits are shown, rest: x (to avoid fraud) - e.g. If the card number is: 4589 3453 2342 1232	there appears only xxxx xxxx xxxx 1232</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMEX">
				<xs:annotation>
					<xs:documentation xml:lang="en">American Express</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark">only some digits are shown, rest: x (to avoid fraud) - e.g. If the card number is: 4589 3453 2342 1232	there appears only xxxx xxxx xxxx 1232</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EUID">
				<xs:annotation>
					<xs:documentation xml:lang="en">European Identity Card</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark">only some digits are shown, rest: x (to avoid fraud) - e.g. If the card number is: 4589 3453 2342 1232	there appears only xxxx xxxx xxxx 1232</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BAHN">
				<xs:annotation>
					<xs:documentation xml:lang="en">Bahn Card (DB)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="THLS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Lys-card on Thalys</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RAIL">
				<xs:annotation>
					<xs:documentation xml:lang="en">Railplus</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PassengerSeatNumber">
		<xs:annotation>
			<xs:documentation doc:docType="Remark"> Why no restriction to the seat number exists?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PassengerTrainNumber">
		<xs:annotation>
			<xs:documentation doc:docType="Remark"> Why no restriction to the train number exists?</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RailwayUndertakingCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the railway undertaking code</xs:documentation>
			<xs:documentation xml:lang="en" doc:docType="Remark">Unify with Company code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordIdType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the record id</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordLengthType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the length of a DST record</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordVersionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the version of a record</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceNumber">
		<xs:annotation>
			<xs:documentation xml:lang="en">Limited to 16 Characters for Certificate Identification</xs:documentation>
			<xs:documentation doc:docType="Remark"> What is the difference to ReferenceNumberType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SignatureIDType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the signature ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SignatureType">
		<xs:annotation>
			<xs:documentation xml:lang="en">type for the signature</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TariffCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">According to UIC leaflet 918-1 element 42</xs:documentation>
			<xs:documentation doc:docType="Remark"> What is teh difference to B.5.42 (different length, no CodeList)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Title">
		<xs:restriction base="xs:ID">
			<xs:enumeration value="Mr"/>
			<xs:enumeration value="Mrs"/>
			<xs:enumeration value="Ms"/>
			<xs:enumeration value="Shithead"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type5261CodeList">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code list for the charge unit code (B.2.4, B.3.2, B.4.5261, B.7.4)</xs:documentation>
			<xs:appinfo>
				<dc:title>Code list for charge unit code</dc:title>
				<dc:source>B.2.4,B.3.2,B.4.5261,B.7.4</dc:source>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">Adult</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per adult</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation xml:lang="en">Child</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per child</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation xml:lang="en">Employee</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per employee</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark">FIP</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person aged between 4 and 11 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 4 and 11 years. </xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 4 and 12 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 4 and 12 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 4 and 13 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 4 and 13 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="27">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 4 and 16 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 4 and 16 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="28">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 5 and 12 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 5 and 12 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="29">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 5 and 16 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 5 and 16 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 6 and 12 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 6 and 12 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="31">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 6 and 14 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 6 and 14 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="32">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 6 and 15 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 6 and 15 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="33">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 6 and 16 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 6 and 16 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="34">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 6 and 17 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 6 and 17 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="35">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 7 and 12 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 7 and 12 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="36">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 7 and 15 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 7 and 15 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="37">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 11 and 99 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 11 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="38">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 12 and 99 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 12 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="39">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 13 and 99 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 13 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="40">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 14 and 99 years</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 14 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="41">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 15 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 15 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="42">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 16 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 16 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="43">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 17 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 17 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="44">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person between 26 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per person between 26 and 99 years.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="45">
				<xs:annotation>
					<xs:documentation xml:lang="en">Child accompanied by ancestor</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per child accompanied by an ancestor.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="46">
				<xs:annotation>
					<xs:documentation xml:lang="en">All type of Passengers</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for all types of passenger independent of the age</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="47">
				<xs:annotation>
					<xs:documentation xml:lang="en">Familly Group</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for family group</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="48">
				<xs:annotation>
					<xs:documentation xml:lang="en">Mini Group</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for group smaller than the normal standard group</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="102">
				<xs:annotation>
					<xs:documentation xml:lang="en">Passenger in wheelchair</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for a passenger in a wheelchair. </xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="103">
				<xs:annotation>
					<xs:documentation xml:lang="en">Companion of a disabled person</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per companion of a disabled person such as a blind passenger or a passenger in a wheelchair.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="104">
				<xs:annotation>
					<xs:documentation xml:lang="en">Small animal in carrier</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for an animal no bigger than a domestic cat, carried in a suitable container such as a cage or a box</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="105">
				<xs:annotation>
					<xs:documentation xml:lang="en">Dog</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for a dog.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="106">
				<xs:annotation>
					<xs:documentation xml:lang="en">Bicycle</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for a bicycle</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="107">
				<xs:annotation>
					<xs:documentation xml:lang="en">Youth</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for a person between childhood and adulthood.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="108">
				<xs:annotation>
					<xs:documentation xml:lang="en">Senior</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for an elderly person such as an old age pensioner.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="109">
				<xs:annotation>
					<xs:documentation xml:lang="en">Infant</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is per very young child or baby.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="110">
				<xs:annotation>
					<xs:documentation xml:lang="en">Accompanied child</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for a child accompanied by an adult.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="111">
				<xs:annotation>
					<xs:documentation xml:lang="en">Child as separate passenger</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for a child occupying its own seat, couchette or sleeping berth.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="112">
				<xs:annotation>
					<xs:documentation xml:lang="en">Blind person</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for a blind person.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="113">
				<xs:annotation>
					<xs:documentation xml:lang="en">Infant as separate passenger</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Description">The associated charge is for an infant occupying its own seat, couchette or sleeping berth.</xs:documentation>
					<xs:documentation xml:lang="en" doc:docType="Remark"/>
					<xs:documentation xml:lang="en" doc:docType="Status">0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><!--                   complex types                             --><xs:complexType name="AddressIdentification">
		<xs:sequence>
			<xs:element name="Country" type="CountryIdentification"/>
			<xs:element name="Town" type="TownIdentification"/>
			<xs:element name="Street" type="LocationIdentification"/>
			<xs:element name="Building" type="LocationIdentification"/>
			<xs:element name="Floor" type="LocationIdentification" minOccurs="0"/>
			<xs:element name="Office" type="LocationIdentification" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInformation">
		<xs:sequence>
			<xs:element name="Telephone" type="TelephoneNumber" minOccurs="0"/>
			<xs:element name="Fax" type="TelephoneNumber" minOccurs="0"/>
			<xs:element name="Email" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryIdentification"/>
	<xs:complexType name="LanguageString">
		<xs:annotation>
			<xs:documentation xml:lang="en">generic string with language attribute</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" type="xs:language" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">define the language of the string content</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LocationIdentification">
		<xs:sequence>
			<xs:element name="Name" type="LocationIdentificationName" minOccurs="0"/>
			<xs:element name="Code" type="LocationIdentifier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyDetails">
		<xs:sequence>
			<xs:element name="Name" type="PartyName" minOccurs="0"/>
			<xs:element name="Identification" type="PartyIdentifier" minOccurs="0"/>
			<xs:element name="Address" type="AddressIdentification" minOccurs="0"/>
			<xs:element name="ContactInformation" type="ContactInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentifier">
		<xs:sequence>
			<xs:element name="Code" type="RailwayUndertakingCode" minOccurs="0"/>
			<xs:element name="VAT_Number" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PassengerTripInformation">
		<xs:sequence>
			<xs:element name="Train" type="PassengerTrainNumber">
				<xs:annotation>
					<xs:documentation xml:lang="en">According to UIC leaflet 918-1 element 20-A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Coach" type="PassengerCoachNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">According to UIC leaflet 918-1 element 27</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seat" type="PassengerSeatNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">According to UIC leaflet 918-1 element 28</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Period">
		<xs:sequence>
			<xs:element name="From" type="xs:date"/>
			<xs:element name="To" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="FamilyName" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Name">
							<xs:attribute name="Title" type="Title"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="GivenName" type="Name" minOccurs="0"/>
			<xs:element name="BirthDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ReferenceID" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="Reference">
							<xs:attribute name="ReferenceIdentificationType" type="PassengerIdentificationNumberID_TypeCodeList">
								<xs:annotation>
									<xs:documentation xml:lang="en">Code list introduced (Stefan Jugelt, ERA)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailwayLocationIdentification">
		<xs:annotation>
			<xs:documentation doc:docType="Remark"> Empty datatype! Which type should be used?</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="RailwayUndertaking_ReferenceType">
		<xs:sequence>
			<xs:element name="RailwayUndertaking" type="RailwayUndertakingCode">
				<xs:annotation>
					<xs:documentation xml:lang="en">A Railway undertaking   Limited to 4 Characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceID" type="ReferenceNumber">
				<xs:annotation>
					<xs:documentation xml:lang="en">16 Character reference number generated by the Railway Undertaking.  When combined with the 4 character prefix of the Railway Undertaking, this makes up the unique  Reference number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reference">
		<xs:sequence>
			<xs:element name="Number" type="xs:string"/>
			<xs:element name="Holder" type="PartyDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Segment">
		<xs:sequence>
			<xs:element name="BeginStation" type="RailwayLocationIdentification">
				<xs:annotation>
					<xs:documentation xml:lang="en">According to UIC leaflet 918-1 element 22-A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndStation" type="RailwayLocationIdentification">
				<xs:annotation>
					<xs:documentation xml:lang="en">According to UIC leaflet 918-1 element 22-B</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TCO_ReferenceType">
		<xs:sequence>
			<xs:element name="RailwayUndertaking" type="RailwayUndertakingCode">
				<xs:annotation>
					<xs:documentation xml:lang="en">A Railway undertaking   Limited to 4 Characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceID" type="ReferenceNumber">
				<xs:annotation>
					<xs:documentation xml:lang="en">16 Character reference number generated by the Railway Undertaking.  When combined with the 4 character prefix of the Railway Undertaking, this makes up the unique  Reference number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TariffTypeDetails">
		<xs:sequence>
			<xs:element name="Description" type="LanguageString" minOccurs="0"/>
			<xs:element name="ReductionPercentage" type="xs:positiveInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TariffTypeIdentification">
		<xs:sequence>
			<xs:element name="Code" type="TariffCode"/>
			<xs:element name="TradeName" type="Name" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelephoneNumber">
		<xs:sequence>
			<xs:element name="InternationalPrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="CountryPrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="RegionalPrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="LocalNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Ticket">
		<xs:sequence>
			<xs:element name="ServiceClass">
				<xs:annotation>
					<xs:documentation xml:lang="en">Following UIC leaflet 918 element 24 for the data format. Class of Service based on UIC Leaflet 920-16 Characteristic Description Code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CharacteristicDescriptionCode"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TicketType">
				<xs:annotation>
					<xs:documentation xml:lang="en">One-Way or Round Trip</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TownIdentification">
		<xs:complexContent>
			<xs:restriction base="LocationIdentification">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation doc:docType="Remark"> Solve this consistency problem!</xs:documentation>
					</xs:annotation>
					<xs:element name="Name" type="LocationIdentificationName" minOccurs="0">
						<xs:annotation>
							<xs:documentation doc:docType="Remark"> The original type was 'Name' (string up to 35 characters), but it was incompatible with the LocationIdentificationName</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Code" type="LocationIdentifier" minOccurs="0">
						<xs:annotation>
							<xs:documentation doc:docType="Remark"> The former definition was oth Type ZipCode (See comment ou element below). There migth be an error in the file defintion for the B.7 data types</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--<xs:element name="ZIP_Code" type="ZipCode" minOccurs="0"/>-->
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType></xs:schema>